<table class="microposts" id="microposts" summary="User microposts">
<% unless @feed_items.empty? %>
  
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  <%= will_paginate @feed_items%>
<% end %>
</table>