<%= form_for @micropost, :remote => true do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_area :content, :id => 'micropost_field' %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>