<table class="front">
	<tr>
		<td class="main">
			<div class="sidebar round">
				<%= render 'shared/user_links' %>
			</div>
			<h1 class="story">Update your story</h1>
			<%= render 'update_story_form' %>
		</td>
	</tr>
</table>