<table class="front">
	<tr>
		<td class="main">
			<h1 class="story">What's your story?</h1>
			<%= render 'shared/story_form' %>
		</td>
		<td class="sidebar round">
			<%= render 'shared/user_links' %>
		</td>
	</tr>
</table>